@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

section {
  padding: 0 8%;
}
.aa {
  h1 {
    margin: 50px;
    color: green;
  }
}
